<div class="container-fluid Administration">
	<div class="container">
		<div class="row">
			<!-----------------tab导航栏------------------------------->
			<div class="col-xs-4 col-sm-3 col-md-2 Administration-nav">
				<ul class="nav-tabs list-unstyled conven-nav">
					<li>
						<span class="Administration-bj"></span>
						<a href="#/convention" data-toggle="tab">社区公约</a>
					</li>
					<li class="active">
						<span class="Administration-bj"></span>
						<a href="#/aboutUs" data-toggle="tab">关于我们</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/conectUs" data-toggle="tab">联系我们</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/termsUs" data-toggle="tab">使用条款</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/feedbackUs" data-toggle="tab">意见反馈</a>
					</li>
				</ul>
			</div>
			<!------------------tan内容---------------------------------------->
			<div class="col-xs-8 col-sm-9 col-md-10">
				<div class="tab-content Administration-content">

					<!------------------关于我们---------------------->
					<div class="tab-pane fade in active" id="about">
						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="convention-title">关于我们</div>
								<div class="line"></div>
								<ul class="convention-items">
									<li>
										<p style="text-indent: 2em;">猫咪易编由重庆大学MBA运营团队，美国Northeastern University、清华大学计算机研究生团队联合创立，专注于少儿编程教育，融合STEAM教育理念，帮助孩子们提升其抽象逻辑思维、计算思维、创新与创造能力。</p>

										<p style="text-indent: 2em;">我们致力于打造国内领先少儿编程品牌，顺应国家教育改革，励志让中国1千万青少年掌握与未来人工智能社会对话的语言。目前，猫咪易编已帮助上千名孩子提升编程能力，让他们在编程思维和创新意识上保持竞争力。</p>
									</li>
									
								</ul>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>