<div class="container-fluid Administration">
	<div class="container">
		<div class="row">
			<!-----------------tab导航栏------------------------------->
			<div class="col-xs-4 col-sm-3 col-md-2 Administration-nav">
				<ul class="nav-tabs list-unstyled conven-nav">
					<li>
						<span class="Administration-bj"></span>
						<a href="#/convention" data-toggle="tab">社区公约</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/aboutUs" data-toggle="tab">关于我们</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/conectUs" data-toggle="tab">联系我们</a>
					</li>
					<li>
						<span class="Administration-bj"></span>
						<a href="#/termsUs" data-toggle="tab">使用条款</a>
					</li>
					<li class="active">
						<span class="Administration-bj"></span>
						<a href="#/feedbackUs" data-toggle="tab">意见反馈</a>
					</li>
				</ul>
			</div>
			<!------------------tan内容---------------------------------------->
			<div class="col-xs-8 col-sm-9 col-md-10">
				<div class="tab-content Administration-content">
					<!------------------意见反馈---------------------->
					<div class="tab-pane fade in active" id="feedback">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12">
								<div class="convention-title">意见反馈</div>
								<div class="line"></div>

								<form class="form-horizontal">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">标题<spqn style="color:red;"> *</spqn></label>
										<div class="col-md-4 col-sm-10">
											<input type="text" class="form-control" id="inputEmail3" placeholder="请输入标题文字6-20字">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">内容</label>
										<div class="col-sm-7" style="padding-left: 7px;">
											<textarea class="form-control" rows="5"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label">联系方式<spqn style="color:red;"> *</spqn></label>
										<div class="col-md-4 col-sm-10">
											<input type="text" class="form-control" id="inputEmail3" placeholder="QQ/邮箱">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-default btn1">提交</button>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>