<style type="text/css">
	.content{
		margin-top: 60px;
	}
	.row {
		margin-top: 60px;
	}
	.row1 {
		height: 300px;
		line-height: 300px;
	}
	.row1 img{
		height: 300px!important;
	}
	.shaoer {
		font-size: 25px;
		text-align: center;
		color: orange;
	}
</style>
<div class="container content">
	<div class="row row1">
		<div class="col-sm-6">
			<div class="shaoer">专注少儿编程教育</div>
		</div>
		<div class="col-sm-6"><img src="public/img/First.png" class="img-responsive"/></div>
	</div>
	<div class="row">
		<img src="public/img/LV1.png"/>
	</div>
	<div class="row">
		<img src="public/img/LV2.png"/>
	</div>
	<div class="row">
		<img src="public/img/LV3.png"/>
	</div>
	<div class="row">
		<img src="public/img/Detail.png"/>
	</div>
</div>
